@charset "UTF-8";

*{
    /* height: 100%; */
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to right, #D6D58E, #9FC131);
    
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #818156af;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #005C53;
    text-align: center;
    text-shadow: 1px 1px 2px #002b2669);
}
h2{
    color: #70704b;
}
p{
    text-align: justify;
}
